/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/*
    Created on : 18/set/2015, 13:45:36
    Author     : AndrÃƒÆ’Ã‚Â© Garrido - 1101598
*/


* {
    font-family: "Trebuchet MS", Helvetica, sans-serif; 
}

#div_table {
    width: 900px;
    margin-left: 50px;
    height: 280px;
}

table {
    border-collapse: collapse;  
    text-align: center; 
}

th {
    padding: 0px 15px 0px 15px;  
}

form {
    transform: scale(1.1);
    overflow: initial;
}

#div_searchresults #search_results #firstrow  {
    height: 30px;
    background-image: linear-gradient(to bottom, #000, #BEBEBE);
    padding: 0px 10px 0px 10px;
    font-size: 10px;
    text-align: center;
    color:#fff;
    /* margin-top: 10px; */
}

#div_searchresults #search_results td:not(#firstrow) {
    height: 20px;
    background-color: #D3D3D3;
    font-size: 10px;
}

#div_searchresults {
    overflow: auto;
    max-height: 280px;
}

#div_filters{
    overflow: auto;
}

#search_opts {
    height: 180px;
    width: 200px;
    background-color: #D3D3D3;
    font-size: 10px;
    text-align: justify;
    color: #000;
}

#div_filters .div{
    overflow: hidden;
} 
.btn {
    background-image: linear-gradient(to bottom, #000, #D3D3D3);
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    font-variant: small-caps;
    color: #fff;
    font-size: 15px;
    text-align: right;
    padding-left:10px;
    padding-right: 10px;
    text-decoration: none;
    width: 200px;
    height: 30px;
    margin-top: 15px;
}

.btn:hover {
    background-image: linear-gradient(to bottom, #778899, #778899);
    text-decoration: none;
}

.blockquote {
    text-align: justify;

}
img {
    width: 20px;
    height: 20px;
}

img:hover {
    transform: scale(1.0);
    height: 150px;
    width: 250px;
}

@media screen and (max-width:900px) {
    form {
        trasform: scale(1.0);
    }

    .btn {
        font-size: 12px;
        width: 150px;
    }

    #search_opts {
        width: 150px;
    }

    th[tipo_faceta = "fotos"] {
        display:none;
    }

    #search_results_body td:last-child {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    th[tipo_faceta = "mediador"] {
        display: none;
    }

    th[tipo_faceta = "ÃƒÂ¡rea"] {
        display: none;
    }
    
    .btn {
        font-size: 12px;
        width: 140px;
    }
    
    #search_opts {
        width: 140px;
        text-align: left;
    }
    
    #search_results_body td:nth-child(4) {
        display: none;
    }
    
    #search_results_body td:nth-child(6) {
        display: none;
    }
}