﻿@model ARQSI_IT2.ClassLibrary.Models.Imovel

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Imovel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Tipo_ImovelID">TipoImovel</label>
            <div class="col-md-2">
                @Html.DropDownList("Tipo_ImovelID", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoimovel)
                
                </div>
            <div class="col-md-2">
               
                @Html.ActionLink("Novo Tipo de Imovel", "Create","TipoImovels")
            </div>
        </div>
        
        <br /><br />
       
       
            <div class="form-group">
                            
                <label for="txtmorada" class="control-label col-md-2">Morada   </label>
                @Html.TextBox("txtmorada")
         
              </div>
   
        <div class="form-group" >
            
            <label for="txtcoordenadas" class="control-label col-md-2">Coordenadas</label>
            <div class="col-md-10">
                @Html.TextBox("txtcoordenadas")
            </div>
        </div>
        
         
        <div class="form-group">
            @Html.LabelFor(model => model.fotos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fotos.url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fotos.url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}