﻿@model ARQSI_IT2.ClassLibrary.Models.Imovel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Imovel</h4>
    <hr />
    <dl class="dl-horizontal">
       
        <dt>
            @Html.DisplayNameFor(model => model.tipoimovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoimovel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.area)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.area)
        </dd>
       
        <dt>
            @Html.DisplayNameFor(model => model.fotos.url)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.fotos.url)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.localização)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.localização.morada)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.localização.morada)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.localização.coordenadas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.localização.coordenadas)
        </dd>
       

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
