﻿@model ARQSI_IT2.ClassLibrary.Models.Imovel

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Imovel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })


        <div class="form-group">
            @Html.LabelFor(model => model.area, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.area, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.area, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2" for="Tipo_ImovelID">TipoImovel</label>
            <div class="col-md-2">
                @Html.DropDownList("Tipo_ImovelID", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoimovel)
            </div>
        </div>
        <br /><br /><br />
        @*<div class="form-group">
                @Html.LabelFor(model => model.localização.morada, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.localização.morada, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.localização.morada, "", new { @class = "text-danger" })
                </div>

            </div>
            <div class="form-group">
                @Html.LabelFor(model => model.localização.coordenadas, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.localização.coordenadas, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.localização.coordenadas, "", new { @class = "text-danger" })
                </div>
            </div>*@
        <blockquote>
            <div class="control-group">
                @Html.Label("Morada")
                @Html.TextBox("txtmorada")
            </div>
            <div class="control-group">
                @Html.Label("Coordenadas")
                @Html.TextBox("txtcoordenadas")
            </div>
        </blockquote>
        <div class="form-group">
            @Html.LabelFor(model => model.fotos, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.fotos.url, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.fotos.url, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
