﻿@model IEnumerable<ARQSI_IT2.ClassLibrary.Models.Imovel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.area)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tipoimovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.localização.morada)
        </th>
        <th>
        @Html.DisplayNameFor(model => model.localização.coordenadas)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.fotos.url)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
       
        <td>
            @Html.DisplayFor(modelItem => item.area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tipo_imovelID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localização.morada)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.localização.coordenadas)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fotos.url)
        </td>

        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
