﻿<center>
    <h1>Widget para Procura de Imóveis</h1>
</center>

<br />

<div id="widget">

    @section WidgetCSS {
        <link href="@Url.Content("css_file.css")" rel="stylesheet" type="text/css" />
    }

    @section WidgetJavascript {
        <script type="text/javascript" src="@Url.Content("script2.js")"></script>
    }

    <script type="text/javascript">
        preencheLayout("widget");
    </script>
</div>