﻿@model ARQSI_IT2.ClassLibrary.Models.Anuncio

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Create</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>Anuncio</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.preco, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.preco, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.preco, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="control-group">
            <label class="control-label col-md-2" for="ImovelID">Imovel</label>
            <div class="col-md-2">
                @Html.DropDownList("ImovelID", String.Empty)
                @Html.ValidationMessageFor(model => model.imovel)
            </div>
        </div>
        <br /><br /><br />
        <div class="control-group">
            <label class="control-label col-md-2" for="TipoAnuncioID">Tipo de Anuncio</label>
            <div class="col-md-2">
                @Html.DropDownList("TipoAnuncioID", String.Empty)
                @Html.ValidationMessageFor(model => model.tipoanuncio)
            </div>
        </div>
        <br /><br /><br />

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
