﻿@model ARQSI_IT2.ClassLibrary.Models.Anuncio

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Anuncio</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.tipoanuncio)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.tipoanuncio)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.imovel.tipoimovel)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.imovel.tipoimovel)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.preco)
        </dt>  
        <dd>
            @Html.DisplayFor(model => model.preco)
        </dd>
                
    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
