﻿@model IEnumerable<ARQSI_IT2.ClassLibrary.Models.Anuncio>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <td>
            @Html.DisplayNameFor(model=> model.tipoanuncio.tipoanuncio)
        </td>
        <th>
            @Html.DisplayNameFor(model => model.imovel.tipoimovel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.preco)
        </th>
        
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.tipoanuncio.tipoanuncio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.imovel.tipo_imovelID)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.preco)
            </td>
            
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Details", "Details", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
