﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Procura de Imóveis</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

    @if (IsSectionDefined("WidgetCSS"))
    {
        @RenderSection("WidgetCSS", required: false)
    }
    @if (IsSectionDefined("WidgetJavascript"))
    {
        @RenderSection("WidgetJavascript");
    }

</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Procura de Imovéis", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Widget", "Index", "Home")</li>

                    @*@if (User.IsInRole("Admin"))
                    {*@
                        <li>@Html.ActionLink("Imovel", "Index", "Imovels")</li>
                        <li>@Html.ActionLink("Tipo Imovel", "Index", "TipoImovels")</li>
                        <li>@Html.ActionLink("Anuncio", "Index", "Anuncios")</li>
                        @*}*@
                        <li>@Html.ActionLink("Registar", "Register", "ContaUtilizador")</li>
                        <li>@Html.ActionLink("Login", "Login", "ContaUtilizador")</li>
                    
                </ul>

            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - Procura de Imóveis</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
