<strong>Module:</strong>        Mediador &raquo;
<strong>Controller:</strong>    Mediador &raquo;
<strong>Action:</strong>        index

<?php
    
	$title	=	'Mediadores';	
	$this->headTitle($title);	
	?>	
   <h1><?php	echo	$this->escapeHtml($title); ?></h1>	
	<p>	
					<a	href="<?php	echo	$this->url('mediador',	array('action'=>'login'));?>">Login</a>	
	</p>
	