<strong>Module:</strong>        ARQSI_IT3_Mediador &raquo;
<strong>Controller:</strong>    ARQSI_IT3_Mediador &raquo;
<strong>Action:</strong>    	login;


 <?php
$title = 'Login';
$this->headtitle($title);
?>
 <h1><?php echo $this->escapeHtml($title); ?></h1>
 <?php
   
 $form->setAttribute('action', $this->url('mediador', array('action' => 'login')));
 $form->prepare();
 
 echo $this->form()->openTag($form);
 echo $this->formRow($form->get('username'));
 echo $this->formRow($form->get('password'));
 echo $this->formSubmit($form->get('submit'));
 echo $this->form()->closeTag();
 ?>
 
 